{% extends "base.html" %}

{% block content %}

<div class="form">
<h1>Want to contribute to the blog?</h1>

<form method = 'POST'>
    <div class="section">Add your own post here!</div>
    <div class="inner-wrap">
        <label>What would you like to call your post?<input name="title" type="text" value="{{title}}" /></label>
    <span class="error">{{title_error}}</span>

    <label>What would you like to say?<textarea name="body" rows="10" cols="10">{{body}}</textarea></label>
    <span class="error">{{body_error}}</span>
    </div>

    <div class="submit">
        <input type="submit" value="Submit your post!" name="Submit your post!" />
    </div>
</form>
</div>

{% endblock %}